﻿@section Scripts{
    <script src="~/Scripts/Scripta.js"></script>
    @Styles.Render("~/Content/Site.css")

}
<div class="container ">
    <div class="row navigacija" id="nav">
    </div>

</div>

<div class="container" id="content">

</div>

