﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
  
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    
}
.forma {
    background: rgb(200,45,82);
    background: radial-gradient(rgba(221,0,67,0.7) 20%, rgba(17,22,28,0.0) 60%);
    color: white;
    text-align: center;
    margin-left: 25%;
    margin-top: 7%;
    letter-spacing: 3px;
    
}
.forma input{
    margin-left:7%;
}
    .forma .btn {
        margin-top: 15px;
        width: 40%;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
    .forma h2 {
        margin-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .forma a{
        color:azure;
    }
    .forma a:hover{
        color:black;
        text-decoration:none;
    }
.card {
    background: rgb(221,19,67);
    background: linear-gradient(90deg, rgba(221,0,67,0.4) 3%, rgba(221,16,45,0.0326505602240896) 60%, rgba(221,11,11,0) 99%);
    text-align: center;
    margin-top:15px;
}
.card a{
    color:azure;
    margin-bottom:25px;
}
.navigacija {
    text-align: center;
    display:flex;
   justify-content:flex-end;
}
.nav1 {
    margin-top: -20px;
    width: 150px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left:2px;
}
.videoSrc {
    margin-left: 15%;
   
}
    .videoSrc iframe {
        -webkit-box-shadow: 14px 10px 68px 0px rgba(79,69,76,1);
        -moz-box-shadow: 14px 10px 68px 0px rgba(79,69,76,1);
        box-shadow: 14px 10px 68px 0px rgba(79,69,76,1);
       
    }
.comm{
    margin-top:30px;
}
.comm  h6 a{
    color:white;
    margin-bottom:10px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size:20px;
}
.comm a:hover{
    color:black;
    text-decoration:none;
}
.comm {
    border-bottom:5px solid red;

}
.add{
    margin-left:2%;
}

   
